*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#formborder
{
    border: rgba(190, 188, 188, 0.404) solid 1px;
}
#center
{   position: relative;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

#signin
{
    font-size: 22px;
    margin: 5px;
}




.inputcss
{
    display: inline;
    width: 300px;
    height: 30px;
    margin: 5px;
    
}
.textcss
{   
   margin: 5px;
  
}


.buttoncss
{
    background-color: orange;
    border: rgb(192, 192, 192) solid 1px;
    margin: 5px;
    width: 300px;
    height: 30px;


}
.linkcss
{   
    display:inline;
    float: right;
    margin: 5px;
    text-decoration: none;
}

#linkdivpos
{
    position: relative;
    float: right;
    top: 10%
}


.linkcss2
{   
   
    
    margin: 5px;
    text-decoration: none;
}

#preposition{


position: absolute;

right: 43%;
bottom: 35%;
}

#secondbtn
{
    position: absolute;
    min-height: auto;
    max-height: 50vh;
    min-width: auto;
    max-width: 50vw;
    right: 42%;
    bottom: 30%;
    margin: 5px;
    width: 300px;
    height: 30px;

}